.navbar{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.navbar-main{
    background-color: var(--clr-primary-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.navbar-main__search{
    width: 35%;
    height: 100%;
}
.navbar-main__search-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 50rem;
    padding: .3rem;
}
.navbar-main__search-container input{
    border: none;
    font-family: 'Open Sans';
    background-color: white;
    border-radius: 50rem;
    margin-left: 1rem;
}
.navbar-main__search-container input:focus{
   outline: none;
}
.btn-search{
    background-color: var(--clr-primary-2);
    color: white;
    border-radius: 50rem;
    padding: .3rem 1rem;
}
.btn{
    border: none;
    cursor: pointer;
}
.navbar-sub{
    background-color: var(--clr-primary-3);
    display: flex;
    justify-content: center;

}
.navbar-sub .navbar-sub__links{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.navbar-sub__link{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: .8rem;
    padding: 1rem;
    opacity: .6;
    letter-spacing: 2px;
    transition: all .2s;
}
.navbar-sub__link:hover, .navbar-sub__links .active{
    color: white;
    opacity: 1;
}
.navbar-main__icons{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-main__icons a{
    color: var(--clr-primary-1);
    text-decoration: none;
}
.icon{
    font-size: 1.3rem;
}
.keranjang, .notif{
    position: relative;
}
.keranjang::after{
    content: "3";
    background-color: var(--clr-tertiary-1);
    color: white;
    font-size: .7rem;
    border-radius: 10rem;
    padding: 0 .4rem;
    position: absolute;
    left: 1rem;
    top: -.5rem;
}
.notif::after{
    content: "1";
    background-color: var(--clr-tertiary-1);
    color: white;
    font-size: .7rem;
    border-radius: 10rem;
    padding: 0 .4rem;
    position: absolute;
    left: .8rem;
    top: -.5rem;
}