.kategori{
    width: 100%;
    padding: 1rem 4rem 2rem 4rem;
}
.kategori__judul{
    font-size: 3rem;
    font-weight: 600;
}
.kategori__pill-link{
    text-decoration: none;
}
.kategori__pills{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    margin-top: 2rem;
}
.kategori__pill{
    background-color: var(--clr-primary-2);
    padding: 1rem 1.5rem 1rem 1rem;
    color: white;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 10rem;
}
.kategori__pill-icon{
    background-color: white;
    color: var(--clr-primary-2);
    border-radius: 10rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
